link(rel="stylesheet" href=`${api}/styles/base.css`)
header
    img.logo(src=`${api}/assets/logo.png`)
main
    div.title
        block title
    div.content
        block content
    div.action
        block action
footer
    div.footer-links
        a.footer-link(href="https://dreader.io/links")
            img(src=`${api}/assets/web.png`)
        a.footer-link(href="https://discord.gg/rrZsRvC9mh")
            img(src=`${api}/assets/discord.png`)
        a.footer-link(href="https://x.com/dReaderApp")
            img(src=`${api}/assets/twitter.png`)
        a.footer-link(href="mailto:support@dreader.io")
            img(src=`${api}/assets/email.png`) 
    p.copyright Copyright © 2023 dReader d.o.o. All rights reserved
    p.privacy-policy View our <a class="privacy-policy-link">Privacy Policy</a>
    p.nota-bene This email contains important information about your dReader account and cannot be unsubscribed from.
